<title>LHA KANKIME GELSIN GRAL SNE BIR TANESIN KARONA VIRUS SENI YENEMEZ !!!</title>
  <h1>Hello, World!</h1>
    Go & Listen -> {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
