<title>Hello World!!!</title>
  <h1>Hello, World!</h1>
  To find out today's song, enter an integer array and 2 different numbers. Second numbers
  should be greater !!!!!

  Go & Listen -> {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
